/* PLACEHOLDER */

.tutorial-form ::-webkit-input-placeholder {
    font-family: 'SF UI Display', sans-serif;
    color: #cecece;
}

.tutorial-form :-moz-placeholder {
    font-family: 'SF UI Display', sans-serif;
    color: #cecece;
}

.tutorial-form ::-moz-placeholder {
    font-family: 'SF UI Display', sans-serif;
    color: #cecece;
}

.tutorial-form :-ms-input-placeholder {
    font-family: 'SF UI Display', sans-serif;
    color: #cecece;
}

.tutorial-form ::-ms-input-placeholder {
    font-family: 'SF UI Display', sans-serif;
    color: #cecece;
}

.tutorial-form ::placeholder {
    font-family: 'SF UI Display', sans-serif;
    color: #cecece;
}

/* PLACEHOLDER FOCUS */

.tutorial-form :focus::-webkit-input-placeholder {
    color: transparent;
}

.tutorial-form :focus:-moz-placeholder {
    color: transparent;
}

.tutorial-form :focus::-moz-placeholder {
    color: transparent;
}

.tutorial-form :focus:-ms-input-placeholder {
    color: transparent;
}

.tutorial-form :focus::-ms-input-placeholder {
    color: transparent;
}

.tutorial-form :focus::placeholder {
    color: transparent;
}

.contact_us * {
    box-sizing: border-box;
}
.contact_us_close_btn {
    background: transparent url('../../assets/images/img/gold_x.svg') center no-repeat;
    background-size: 100% 100%;
    width: 3.3em;
    height: 3.3em;
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    opacity: 1;
    z-index: 5;
    transition: opacity .2s;
}
.contact_us_close_btn:hover {
    opacity: .7;
}











.contact_us .menu_btn {
    position: absolute;
    width: 5em;
    height: 4.8em;
    background: transparent;
    top: 1em;
    right: 0.3em;
    cursor: pointer;
    z-index: 1;
}

.contact_us .menu_btn img {
    width: 100%;
    height: 100%;
}

.contact_us ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.contact_us button {
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
}
  
.contact_us a {
    text-decoration: none;
}
  
.contact_us h1, .contact_us h2, .contact_us h3, .contact_us h4, .contact_us h5, .contact_us h6 {
    font-size: unset;
}
  
.contact_us p, .contact_us h1, .contact_us h2, .contact_us h3, .contact_us h4, .contact_us h5, .contact_us h6 {
    margin: 0;
    padding: 0;
}
  
.contact_us input,
.contact_us textarea {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background-color: grey;
}

.contact_us {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    justify-content: center;
    background-image: url('../../assets/images/img/contact_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    background-color: #0c0d13;
    z-index: 998;
    font-size: 10px;
}









/* CONTACT US */

.contact_us .logo-box {
    position: absolute;
    top: 2em;
    left: 3em;
}

.contact_us .logo-box img {
    width: 24em;
}

.contact_us .main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 12.5em 3em 11em 3em;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.contact_us .inner-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 121em;
}

.contact_us .main-flex .content-box,
.contact_us .main-flex .form-box {
    /* width: 51em; */
    width: 50%;
}

.contact_us .main-flex .content-box {

}

.contact_us .main-title {
    font-weight: 600;
    color: #f4d56f;
    max-width: 42em;
    line-height: 5.6em;
}

.contact_us .sub-title {
    color: #e9e6e6;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 300;
    margin: 1em 0 0 0;
    max-width: 39em;
}

.contact_us .main-title span {
    font-size: 5.8em;
    text-transform: uppercase;
}

.contact_us .sub-title span {
    font-size: 2.2em;
}

.contact_us .contact-you {
    padding: 3em 0em 0em 0em;
    font-family: 'SF UI Display', sans-serif;
    color: #e9e6e6;
    font-weight: 300;
}

.contact_us .contact-you span {
    font-size: 1.5em;
}

.contact_us .brand-email-caption {
    margin: 1em 0 0 0;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 300;
    color: #e9e6e6;
}

.contact_us .brand-email-address {
    position: relative;
    padding-left: 3.5em;
    margin: 0.2em 0 0 0;
    line-height: 2.8em;
    height: 3em;
}

.contact_us .brand-email-address::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0em;
    transform: translateY(-50%);
    background-image: url('../../assets/images/img/contact_us/step2-envelope.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 2.3em;
    height: 100%;
}

.contact_us .brand-email-caption span {
    font-size: 1.5em;
}

.contact_us .brand-email-address span {
    font-size: 2.2em;
}

.contact_us .nav-buttons-row {
    justify-content: space-between;
}

/* STEP 2 FORM */

.contact_us .main-flex .form-box {
    /* min-width: 46em;
    min-width: 34em;
    max-width: 48em;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.35); */
    max-width: 50em;
}

.contact_us .main-flex .form-box .form-wrap {
    /* min-width: 46em;
    min-width: 34em;
    max-width: 48em; */
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.35);
}

.contact_us .tutorial-form {

}

.contact_us .tutorial-form .tutorial-form-row {
    position: relative;
    margin-bottom: 2em;
}

.contact_us .tutorial-form .tutorial-form-row:last-of-type {
    margin-bottom: 0;
}

.contact_us .tutorial-form .tutorial-form-row.message-row {
    padding-bottom: 2em;
}

.contact_us .tutorial-form .tutorial-form-row.message-row::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: black;
    border-radius: 0 0 0.7em 0.7em;
    z-index: -1;
}

.contact_us .tutorial-form input,
.contact_us .tutorial-form textarea {

    width: 100%;
    background-color: #000;
    color: #cecece;
    font-family: 'SF UI Display', sans-serif;

    font-size: 1.6em;
    /* padding: 1em 1.4em; */
    padding: calc(1rem/1.6) calc(1.4rem/1.6);
    /* border: solid 0.2em #979797; */
    border: solid calc(0.2rem/1.6) #979797;
    /* border-radius: 0.7em; */
    border-radius: calc(0.7rem/1.6);

}

.contact_us .tutorial-form input[type="text"] {

}

.contact_us .tutorial-form textarea {
    height: 8em;
    resize: none;
}

.contact_us .apply-button {
    width: 100%;
    background-image: linear-gradient(96deg, #d99e38 0%, #fff585 15%, #ebbc53 24%, #edc964 54%, #e4b54f 72%, #dfa942 82%, #dda53e 84%, #e1ac43 87%, #eebf50 90%, #fbd35e 93%, #f9d15d 97%, #f4ca58 98%, #eabd50 99%, #dcab45 100%, #c99437 101%, #b47926 102%);
    color: #000;
    padding: 1.8em 2.3em;
    margin-top: 2em;
    border-radius: 0.7em;
    font-family: 'SF UI Display', sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.contact_us .apply-button:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    -webkit-animation: shimmer 2s infinite;
            animation: shimmer 2s infinite;
    content: "";
  }
  @-webkit-keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  
.contact_us .apply-button::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    border-radius: 0.7em;
    transition: all 0.5s ease;
    color: #000;
    background-image: linear-gradient(96deg, #fff585 0%, #d99e38  15%, #ebbc53 24%, #edc964 54%, #e4b54f 72%, #dcab45 82%, #dda53e 84%, #eebf50  87%, #e1ac43 90%,  #f9d15d 93%, #fbd35e 97%, #f4ca58 98%, #eabd50 99%, #dfa942  100%, #b47926   101%, #c99437 102%);

  }
  .contact_us .apply-button:hover {
    color: #000;
  }
  .contact_us .apply-button:hover::after {
    bottom: 0;
    border-radius: 0;
    color: #000;

  }

.contact_us .apply-button:disabled {
    background: #b29944;
    cursor: progress;
    transition: background-color 0.3s ease-out;
}

.contact_us .apply-button span {
    font-size: 2.1em;
}

.contact_us .tutorial-form .message-limit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.2em;
    height: 2.2em;
    line-height: 2.2em;
    font-family: 'SF UI Display', sans-serif;
    text-align: right;
    color: #f4d56f;
    color: #a5a5a5;
    padding: 0 0.8em 0 0;
}

.contact_us .tutorial-form .message-limit span {
    font-size: 1.1em;
}

/* STEP 2 FORM MESSAGE */

.contact_us .tutorial-form .message {
    position: relative;
    padding: 0.9em 1.2em;
    background: #000000;
    border-radius: 0.7em;
    font-family: 'SF UI Display', sans-serif;
}

.contact_us .tutorial-form .message > span {
    font-size: 1.5em;
}

.contact_us .tutorial-form .message.request-failure,
.contact_us .tutorial-form .message.validation-error {
    color: #ff7878;
    /* border: 0.2em solid #ff7878; */
}

.contact_us .tutorial-form .message.request-success {
    color: #97c897;
    /* border: 0.2em solid #97c897; */
}

/* STEP 2 ICONS */

.contact_us .icons-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 2em 0 0 0;
}

.contact_us .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_us .icon-box.web3 .icon-image {
    background-image: url('../../assets/images/img/web3.svg');
}

.contact_us .icon-box.secure .icon-image {
    background-image: url('../../assets/images/img/secure.svg');
}

.contact_us .icon-box.decentralized .icon-image {
    background-image: url('../../assets/images/img/blockchain.svg');
}

.contact_us .icon-box.blockchain .icon-image {
    background-image: url('../../assets/images/img/chain.svg');
}

.contact_us .icon-top-text {
    border: 0px solid transparent;
    text-align: center;
    color: #f4d56f;
}

.contact_us .icon-top-text span {
    font-size: 1.7em;
}

.contact_us .icon-image {
    /* background: #094c09; */
    background-position: center;
    background-size: 6em;
    background-repeat: no-repeat;
    width: 6em;
    height: 6em;
}







@media screen and (max-width: 480px) {

    .contact_us .tutorial-form input,
    .contact_us .tutorial-form textarea {
        font-weight: 300;
        padding: 0.5em 0.5em 0.4em 0.5em;
    }

    .contact_us_close_btn{
        width: 2.3em; height: 2.3em;
    }

    .contact_us .logo-box {
        position: absolute;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .contact_us .logo-box img {
        width: 18em;
    }

    .contact_us .main-flex {
        padding: 10.5em 3em 10.2em 3em;
    }

    .contact_us .inner-flex {
        flex-direction: column;
    }

    .contact_us .main-title {
        text-align: center;
        line-height: 4.6em;
    }

    .contact_us .main-title span {
        font-size: 4.4em;
        text-transform: uppercase;
    }

    .contact_us .nav-buttons-row {
        bottom: auto;
        top: 2em;
    }

    .contact_us .icons-box {
        gap: 0.5em;
        margin: 0em 0 0 0;
        justify-content: center;
    }

    .contact_us .icon-top-text span {
        font-size: 1.4em;
    }

    .contact_us .icon-image {
        background-size: 5em;
        width: 5.5em;
        height: 5.5em;
    }

    .contact_us .apply-button {
        position: absolute;
        bottom: 2em;
        max-width: 81%;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);

        background-image: linear-gradient(101deg,#d99e38 -29%,#fff585 -6%,#ebbc53 6%,#edc964 52%,#e4b54f 79%,#dfa942 95%,#dda53e 98%,#e1ac43 101%,#eebf50 107%,#fbd35e 111%,#f9d15d 116%,#f4ca58 119%,#eabd50 120%,#dcab45 122%,#c99437 123%,#b47926 125%);
        box-shadow: inset 0 0 0 0.2em #f4d56f;
        padding: 1.3em 1.9em;
        font-weight: 700;
    }

    .contact_us .apply-button span {
        font-size: 2.3em;
    }

    .contact_us .sub-title {
        margin: 1.5em auto 2em auto;
        text-align: center;
        width: 90%;
        max-width: unset;
    }

    .contact_us .sub-title span {
        font-size: 2em;
    }

    .contact_us .contact-you {
        padding: 2em 0em 0em 0em;
        font-family: 'SF UI Display', sans-serif;
        color: #e9e6e6;
        font-weight: 300;
        text-align: center;
    }

    .contact_us .contact-you span {
        font-size: 1.5em;
    }

    .contact_us .tutorial-form textarea {
        height: 6em;
    }

    .contact_us .tutorial-form .tutorial-form-row {
        margin-bottom: 1.7em;
    }

    .contact_us .tutorial-form .tutorial-form-row.message-row {
        margin-bottom: 0.7em;
    }

}